section.main 
    .container 
        h2.main__title About Me
        .main__content
            p Welcome to my portfolio site. My name is Kirill. I live in Minsk. I am engaged in HTML-layout of sites. I have a cross-browser, adaptive and valid layout. To ensure that site layout requirements are met while working on a project, I use the Gulp project builder to automate the layout process, ScSS / Pug preprocessors for faster site styling and more flexible code, Pixel Perfect template engine for layout that matches the provided “In pixel", BEM. At the end of the work, the layout is checked for display in different browsers on different devices, the code is checked by the validator for compliance with standards, and the identified errors are eliminated.