section.main 
    .container 
        h2.main__title About Me
        .main__content
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda repudiandae eligendi accusantium, temporibus neque aliquid magni. Necessitatibus officia nulla, sed minus quasi recusandae ab saepe vitae omnis aliquid quo? Placeat?
            p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis sunt voluptatem, totam pariatur accusantium eaque non reprehenderit dolore repellat assumenda ea, velit facere, numquam perferendis alias adipisci? Minima, voluptatem dolor?