include ../mixin/work
.main
    .container 
        h2.main__title Skills
        .works
            +work({
                link:'',
                img:'',
                tech:'Tech: PUG, GULP ,SCSS',
                time:'Time: 8 hours',
            })
            +work({
                link:'',
                img:'',
                tech:'Tech: PUG, GULP ,SCSS',
                time:'Time: 8 hours',
            })
            +work({
                link:'',
                img:'',
                tech:'Tech: PUG, GULP ,SCSS',
                time:'Time: 8 hours',
            })
             +work({
                link:'',
                img:'',
                tech:'Tech: PUG, GULP ,SCSS',
                time:'Time: 8 hours',
            })