include ../mixin/work
.main
    .container 
        h2.main__title Peojects
        .works
            +work({
                link:'https://kirill-babich.github.io/project_icecream/',
                img:'../assets/imgs/first.jpg',
                tech:'Tech: HTML ,CSS',
                time:'Time: 4 hours',
            })
            +work({
                link:'https://kirill-babich.github.io/project_design/',
                img:'../assets/imgs/second.jpg',
                tech:'Tech: HTML ,CSS',
                time:'Time: 8 hours',
            })
            +work({
                link:'https://kirill-babich.github.io/project_im/build/',
                img:'../assets/imgs/third.jpg',
                tech:'Tech: PUG, GULP ,SCSS',
                time:'Time: 20 hours',
            })