include ../mixin/skill
section.main
    .container 
        h2.main__title Skills
        .skills
            +skill({
                img:'./assets/imgs/html.svg',
                title:'HTML5'
            })
            +skill({
                img:'./assets/imgs/gulp.svg',
                title:'GULP'
            })
            +skill({
                img:'./assets/imgs/css.svg',
                title:'SCSSdd'
            })
            +skill({
                img:'./assets/imgs/git.svg',
                title:'GIT'
            })
            +skill({
                img:'./assets/imgs/pug.svg',
                title:'PUG'
            })